<!-- Page breadcrumb -->
<section id="mu-page-breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-page-breadcrumb-area">
            <h2>404</h2>
            <ol class="breadcrumb">
             <li><a href="#">Home</a></li>            
             <li class="active">Not Found</li>
           </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End breadcrumb -->
  
  <section id="mu-contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-contact-area">
           <!-- start title -->
           <div class="mu-title">
             <h1>404</h1>
             <p>Information you are looking for is not available</p> 
           </div>
           <!-- end title -->
           <!-- start contact content -->
           <div class="mu-contact-content">           
             <div class="row">
              <div class="col-md-4"></div>
               <div class="col-md-4">
                 <div class="mu-contact-left">
                  
                     <a style="float: right;border-bottom: 1px solid black;font-size: x-small;" routerLink="/">Go back to home</a>
                     
  
                 </div>
               </div>
               
             </div>
           </div>
           <!-- end contact content -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End contact  -->
  