<!-- Page breadcrumb -->
<section id="mu-page-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-page-breadcrumb-area">
                    <h2>Terms Of Use</h2>
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">Terms OF Use</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End breadcrumb -->

<!-- Start contact  -->
<section id="mu-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-contact-area">
                    <!-- start title -->
                    <div class="mu-title">
                        <h2>TERMS OF USE</h2>
                    </div>
                    <!-- end title -->
                    <!-- start contact content -->
                    <div class="mu-contact-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mu-contact-left">
                                    <form class="contactform">
                                        <p class="comment-form-author">We are aimed to provide you an easy to use
                                            interface that may help you learn the technology. Whenever you use our
                                            website www.1stResume.com, connected partner, content, study material,
                                            functionalities, features or any other online service offered by 1stResume,
                                            as a registered or unregistered user, you agree to the following Terms of
                                            Use. So, take few minutes to get over the Terms of Use mentioned below.</p>
                                        <p class="comment-form-email">The 1stResume website, the training material
                                            offered by the website, products, and content are owned, maintained, and
                                            operated by the 1stResume only. All the Website content, products, and
                                            services are the Company products and property.</p>
                                        <p class="comment-form-url">These terms and conditions manage and control your
                                            use of the website 1stResume.com (the “Website”). 1stResume, hereafter
                                            referred to as the “Company”, “Website”, “we”, or “us” while “You” refer to
                                            the 1stResume user or a paying customer.</p>
                                        <h2>Guidelines on Using Services of the Website –</h2>
                                        <ul>
                                            <li>>> You are not allowed to make unlawful use of this Website; you must
                                                agree to the website terms of use.</li>
                                            <li>>> The access to the website is free of cost for the users having
                                                internet access. However, we are not liable for any charges deducted for
                                                the internet services, hardware, or software cost.</li>
                                            <li>>> The Company will not be responsible, under any situation, for any
                                                changes in the content related to the services and products, including
                                                but not limited to the damage, errors, or loss experienced while using
                                                our products, services, or resources.</li>
                                            <li>>> 1stResume is not liable for the faults and issues in the server or
                                                network beyond some limits.</li>
                                            <li>>> We are focused to provide you continuous, uninterrupted, smooth
                                                access to our services, but we are not bound to do so with any
                                                obligation.</li>
                                            <li>>> To access and use some of the sections of the Website, you will be
                                                required to log into your account. The Company have the full right to
                                                limit or block the access to our services for any user not following the
                                                conditions.</li>
                                        </ul>
                                        <h2>Privacy Policy</h2>
                                        <p class="comment-form-comment">We value your privacy like you do, so we are
                                            committed to protecting your personal information. The personal information
                                            you share with us while using our Website, Products, or Services is subject
                                            to our Privacy Policy. We are authorized to use information provided by you
                                            directly or obtained by the nature of use of our services, maintaining your
                                            privacy with our Privacy Policy.</p>
                                        <h2>Copyright and Intellectual Property</h2>
                                        <p>We respect the Intellectual Property and Copyright of others and the same we
                                            expect from our users –</p>
                                        <p>The whole content of the Website is protected by the trademark and copyright
                                            laws. The owner of the trademarks and copyrights are 1stResume.com, it’s
                                            partners and affiliates. The material on the website including code, text,
                                            graphics, and software is owned by 1stResume. Noone is allowed to copy,
                                            modify, reproduce, or publish the content in any way.</p>
                                        <p>We are not responsible for the content on other sites except our affiliates
                                            and partners, you may come across using our products or services. The Terms
                                            of Use and Privacy Policy of the sites will administer the material on those
                                            websites.</p>
                                        <p>You are not at all permitted to use any digital image, text, or logo from the
                                            website. To avoid copyright issues, written consent from the trademark owner
                                            is required. 1stResume reserves all the rights to block the users who don’t
                                            respect and infringes the 1stResume intellectual property.</p>
                                        <h2>Violation of Copyright or Intellectual Property Laws</h2>
                                        <p>We value and respect the intellectual property and copyright laws of others,
                                            and the same we expect from others. We may remove any material or access to
                                            the material on our website that we find may violate the copyright of
                                            others. If you observe that your work has been copied in any way that may
                                            cause an infringement of your intellectual property or copyright laws,
                                            please inform us with the required information, and we will act on the same.
                                        </p>
                                        <ul>
                                            <li>>> Claim the intellectual property in written with physical or digital
                                                signature.</li>
                                            <li>>> Description of how the material that you claim for infringement is
                                                being used by the website with detail.</li>
                                            <li>>> Description of the copyrighted work that you claim for the
                                                infringement.</li>
                                            <li>>> The contact details such as Email Address, Contact Number, and
                                                Address.</li>
                                            <li>>> A declarative statement specifying that the information provided by
                                                you is accurate and the copyright claim you are submitting is on behalf
                                                of the owner.</li>
                                            <li>> You can also reach 1stResume directly to notify your intellectual
                                                property and copyright claim by writing us at support@1stResume.com</li>
                                        </ul>
                                        <h2>Mobile and other Devices</h2>
                                        <p>If you access 1stResume website through a mobile device, you need to be agreed
                                            with the following additional Terms and Conditions (collectively known as
                                            “Mobile Terms”) –</p>
                                        <ul>
                                            <li>>> Only you are responsible for the data and message charges on your
                                                mobile device to access the Website. We don’t charge anything to access
                                                our website, so all the charges will be billed by and payable to your
                                                mobile service provider. For any kind of reduction in data charges to
                                                access the internet, you need to contact your mobile service provider
                                                for subscription plans, pricing, and other details.</li>
                                            <li>>> The wireless connection services may be interrupted in some areas at
                                                some times relative to the product, coverage, software, or the service
                                                charges. You may be subjected to some additional terms and conditions on
                                                the basis of the type of mobile device you are using.</li>
                                        </ul>
                                        <p>Your access to and usage of the site through mobile device confirms your
                                            consent on these terms of use, including but not limited to the Mobile
                                            Terms.</p>
                                        <h2>1stResume Dos and Don'ts</h2>
                                        <p>You can access the website content, products, and services via various online
                                            streaming methods. While using the Company’s content given on the website,
                                            you agree to the following do’s and don’ts.</p>
                                        <h2>Dos –</h2>
                                        <p>While accessing and using the Website, you agree that you will</p>
                                        <ul>
                                            <li>>> Provide accurate and correct information about you and will keep your
                                                profile up-to-date</li>
                                            <li>>> Use the content, products, services, features, and functionalities of
                                                the website in a respectful manner</li>
                                            <li>>> Comply with the state, federal, local, and international laws as well
                                                as regulations</li>
                                            <li>>> Log out your account at the end of each session or the use of the
                                                Website</li>
                                        </ul>
                                        <h2>Don’ts –</h2>
                                        <p>While accessing and using the Website, you agree that you will not</p>
                                        <ul>
                                            <li>>> nsult, stalk, harass, abuse, or infringe the rights of other users;
                                            </li>
                                            <li>>> Post, publish, or distribute any offensive, infringing, or unlawful
                                                information or material;</li>
                                            <li>>> Install, upload, or transfer files that are protected by the
                                                Intellectual Property Laws;</li>
                                            <li>>> Run spam scripts or anything that may affect the other users;</li>
                                            <li>>> Communicate, advertise, or sell eBooks, digital download, or phishing
                                                links;</li>
                                            <li>>> Use any content that may violate regulatory, legal, network operator,
                                                or governmental conditions.</li>
                                        </ul>
                                        <h2>Represetation, Warranties and Coverts</h2>
                                        <p>While using our Website, products, and services, you represent and warrant
                                            that you are –</p>
                                        <ul>
                                            <li>>> 18 years of age or older and competent to form a contract with
                                                1stResume by entering into these Terms of Use.</li>
                                            <li>>> Above the required age to register for an account or otherwise use
                                                the Website. If not, you will require the supervision, involvement, and
                                                approval of the parent or legal guardian.</li>
                                            <li>>> Liable for all the message, service, and data charges, fees, or costs
                                                associated with your use or access to the Website including the
                                                maintenance of internet, hardware or software required for the access.
                                            </li>
                                        </ul>
                                        <p>You and 1stResume, both, represent, warrant, and covenant that it has
                                            authority to enter into the agreement with respect to these Terms of Use;
                                            performs its obligation; and by doing so, no one violates any contractual
                                            relationship or applicable laws.</p>
                                        <h2>Limit of Liability</h2>
                                        <ul>
                                            <li>>> You clearly understand that the Company will not be liable for any
                                                direct, indirect, consequential, special, or incidental damages
                                                resulting from –</li>
                                            <li>>> The use or failure to use the service</li>
                                            <li>>> The cost of procuring substitute services, or services obtained or
                                                purchased or transactions made from the Website</li>
                                            <li>>> Unauthorized access to your data or transmissions or confidential
                                                informations</li>
                                            <li>>> Conducts or statements of any third party on the Company’s products
                                                or any other matter related to the Company’s products</li>
                                        </ul>
                                        <h2>Changes to the Terms of the Website</h2>
                                        <h2>Changes to the Terms –</h2>
                                        <p>The Company reserves all the rights to modify or change these Terms of Use at
                                            any time without any prior notice. Any of such changes made to the terms
                                            will be effective immediately after the time of posting the same on the
                                            website. However, the modifications and changes to the section Governing
                                            Laws and Jurisdiction will not be applicable to the ongoing disputes. We are
                                            aimed to keep you updated, and so will take all the possible steps to notify
                                            you about any changes in the terms of use, but you agree to review the
                                            website to know about any changes or modifications.</p>
                                        <p>Note that, your continual use of the Website with the products and services
                                            will show your acceptance and agreement on the updated and modified Terms of
                                            use.</p>
                                        <h2>Changes to the Website –</h2>
                                        <p>1stResume may change, modify, or eliminate any content or feature of the
                                            Website, at any time, without any prior notice or liability. If you are not
                                            satisfied with any service-related modification or elimination, you are free
                                            to cease the use of the services of the Website. We are not liable if any
                                            part of the Website is unavailable at any time for any reason.</p>
                                        <h2>Miscellaneous</h2>
                                        <p>These Terms if Use along with Privacy Policy and Mobile Terms forms an entire
                                            agreement between you and 1stResume relative to all the representations,
                                            agreements, and warranties, written and oral, with respect to the Website.
                                            These Terms of use don’t contain any third-party beneficiary rights.
                                            Anything related to your purchase such as invoice, order number etc is for
                                            reference purpose only and doesn’t bound 1stResume with your terms and
                                            conditions mentioned herein or elsewhere. So, the terms or conditions
                                            submitted by you on only purchase will have no effect on 1stResume and are
                                            hereby rejected.</p>
                                        <p>In case, any dispute arises between the participating parties i.e. You and us
                                            with respect to the Terms of Use or subject matter of these Terms of Uses,
                                            or the breach of these Terms of Use, the party prevailing in the dispute,
                                            whether settled in the court or out-of-court, will be entitled to recover
                                            all the costs from the non-prevailing party.</p>
                                        <p>Copyright © 2021 1stResume Software Pvt Ltd. All rights reserved.</p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end contact content -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End contact  -->