<!-- Page breadcrumb -->
<section id="mu-page-breadcrumb">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="mu-page-breadcrumb-area">
                  <h2>About Us</h2>
                  <ol class="breadcrumb">
                      <li><a href="#">Home</a></li>
                      <li class="active">About Us</li>
                  </ol>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- End breadcrumb -->

<!-- Start about us -->
<section id="mu-about-us">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-about-us-area">           
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="mu-about-us-left">
                <!-- Start Title -->
                <div class="mu-title">
                  <h2>About Us</h2>              
                </div>
                <!-- End Title -->
                <p>We are couple of tech experts providing you a FREE platform where you can judge your skills. We got this idea because most of the free platform proving the incorrect answer thats leads to confusion. We are here with 100% accuracy. Some of the most importanct feathers are given below :</p>
                <ul>
                  <li>All the answers are 99.999% accurate.</li>
                  <li>If you found the incorrect answer, you get a chance to win guddies.</li>
                  <li>You can find the tough, intermediate and easy level questions.</li>
                  <li>You can keep the quesitons aside for future reference.</li>
                  <li>All of this are at no cost.</li>
                </ul>
                <p>So register now and enhance your skills</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="mu-about-us-right">                            
              <!-- <a id="mu-abtus-video" href="https://www.youtube.com/embed/HN3pm9qYAUs" target="mutube-video"> -->
                <img src="https://firebasestorage.googleapis.com/v0/b/itexam-2fdbc.appspot.com/o/idea.jpg?alt=media&token=e93b661e-28a1-4220-9c42-ca4e07d39aaa" title="great idea" alt="idea">
              <!-- </a>                 -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End about us -->
