

<div>
   <p *ngFor="let resto of data.QuestionText">
    {{resto}}
   </p>
</div> 


<table >
    <thead>
        <tr style="background-color: lightgrey; font-weight: bold; border: 1px solid black;">
            <td>Statement</td>
            <td>Yes</td>
            <td>No</td>
        </tr>
    </thead>
    <tr *ngFor="let resto of data.AnswerOption; let i =index ">
        <!-- <td>{{resto}}</td>
        <td> <input type="radio" class="radiobtn" name={{i}} id="yes" (click)="onAnswer()" value="30"></td> -->
        <!-- <td> <input type="radio" class="radiobtn" name={{i}} id="no" (click)="onAnswer()" value="30"> </td> -->
        <td>{{resto}}</td>
        <td><label>
            <input type="radio" name={{i}} id="yes" (click)="onAnswer()" title="asdf" value="30"> 
            <span class="radiobtn"></span>
        </label></td>
        <td><label>
            <input type="radio" name={{i}} id="no" (click)="onAnswer()" title="asdf" value="30"> 
            <span class="radiobtn"></span>
        </label></td>
    </tr>
    
       
</table>
<div class="or-seperator"><i>
     <button type="button" class="btn btn-info" (click)="toggleDisplay()"> Check your Answer </button> 
</i></div>
<div style="padding-left: 18px; font-size: 12px; font-weight: bold;" *ngIf="!isDisplay" >
    <div style="margin-top: 0px;" *ngIf="!isDisplay" >
        <p *ngIf="isAnswerCorrect" style="color: green;font-weight: bold;font-size: larger;">Your answer is correct</p>
        <p *ngIf="!isAnswerCorrect" style="color: red;font-weight: bold;font-size: larger;">Your answer is NOT correct</p>
    
    <span style="color: green;font-size: larger;">
        Correct Answer's are : <span *ngFor="let resto of data.CorrectAnswer;let i=first" style="font-weight: lighter;">
          <b style="font-size: x-large;" *ngIf="!i"> | </b> {{resto}} </span>
      </span>
      <br>
    <b>---------------------- Details -----------------------</b> 
    <p *ngFor="let Detail of data.Details">
         {{Detail}}
          
    </p> 
</div>  