<!-- Start Slider -->
<section id="mu-slider">
  <!-- Start single slider item -->
  <div class="mu-slider-single">
    <div class="mu-slider-img">
      <figure>
        <img src="../../assets/img/1.svg" alt="img">
      </figure>
    </div>
    <div class="mu-slider-content">
      <h4>Welcome To 1stResume.com</h4>
      <span></span>
      <h2>We Will Help You To Learn</h2>
      <p>Top quality content like certificate, Test paper and Question and Answer to learn more and more.</p>
      <!-- <a href="#" class="mu-read-more-btn">Read More</a> -->
    </div>
  </div>
  <!-- Start single slider item -->
  <!-- Start single slider item -->
  <div class="mu-slider-single">
    <div class="mu-slider-img">
      <figure>
        <img src="../../assets/img/2.svg" alt="img">
      </figure>
    </div>
    <div class="mu-slider-content">
      <h4>Premiumu Quality Free Content</h4>
      <span></span>
      <h2>Quality content with justification</h2>
      <p>Providing you quality content with over 99.99% accuracy, so dont get confused and learn</p>
      <!-- <a href="#" class="mu-read-more-btn">Read More</a> -->
    </div>
  </div>
  <!-- Start single slider item -->
  <!-- Start single slider item -->
  <div class="mu-slider-single">
    <div class="mu-slider-img">
      <figure>
        <img src="../../assets/img/3.svg" alt="img">
      </figure>
    </div>
    <div class="mu-slider-content">
      <h4>Coming up..</h4>
      <span></span>
      <h2>Knowledge just click away</h2>
      <p>We are developing this platform to provide way to learn new languages from the basic, which will be completely free on this channel. </p>
      <!-- <a href="#" class="mu-read-more-btn">Read More</a> -->
    </div>
  </div>
  <!-- Start single slider item -->    
</section>
<!-- End Slider -->
<!-- Start service  -->
<section id="mu-service">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="mu-service-area">
          <!-- Start single service -->
          <div class="mu-service-single">
            <span class="fa fa-book"></span>
            <h3>Learn Online</h3>
            <p>We are providing online interview Q&A, practice question on technologies and certificate preparation exam to give you the mock online practice test.</p>
          </div>
          <!-- Start single service -->
          <!-- Start single service -->
          <div class="mu-service-single">
            <span class="fa fa-users"></span>
            <h3>Tech Experts</h3>
            <p>We have lots of tech expert joined our platform and providing articles for helping others make ways for others to become expert in the new technology </p>
          </div>
          <!-- Start single service -->
          <!-- Start single service -->
          <div class="mu-service-single">
            <span class="fa fa-table"></span>
            <h3>Best Practice Platform</h3>
            <p>We are providing the best platform for practicing technology Q&A, also get the similar enviroment to practice for your next technoloyg exam/certificate</p>
          </div>
          <!-- Start single service -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End service  -->

<!-- Start about us -->
<section id="mu-about-us">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-about-us-area">           
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="mu-about-us-left">
                <!-- Start Title -->
                <div class="mu-title">
                  <h2>About Us</h2>              
                </div>
                <!-- End Title -->
                <p>We are couple of tech experts providing you a FREE platform where you can judge your skills. We got this idea because most of the free platform proving the incorrect answer thats leads to confusion. We are here with 100% accuracy. Some of the most importanct feathers are given below :</p>
                <ul>
                  <li>All the answers are 99.99% accurate.</li>
                  <li>If you found the incorrect answer, you get a chance to win guddies.</li>
                  <li>You can find the tough, intermediate and easy level questions.</li>
                  <li>You can keep the quesitons aside for future reference.</li>
                  <li>All of this are at no cost.</li>
                </ul>
                <p>So register now and enhance your skills</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="mu-about-us-right">                            
              <!-- <a id="mu-abtus-video" href="https://www.youtube.com/embed/HN3pm9qYAUs" target="mutube-video"> -->
                <img src="https://firebasestorage.googleapis.com/v0/b/itexam-2fdbc.appspot.com/o/idea.jpg?alt=media&token=e93b661e-28a1-4220-9c42-ca4e07d39aaa" title="great idea" alt="idea">
              <!-- </a>                 -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End about us -->

<!-- Start about us counter -->
<section id="mu-abtus-counter">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-abtus-counter-area">
          <div class="row">
            <!-- Start counter item -->
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-abtus-counter-single">
                <span class="fa fa-book"></span>
                <h4 class="counter">20</h4>
                <p>Test Papers</p>
              </div>
            </div>
            <!-- End counter item -->
            <!-- Start counter item -->
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-abtus-counter-single">
                <span class="fa fa-users"></span>
                <h4 class="counter">300</h4>
                <p>Active Users</p>
              </div>
            </div>
            <!-- End counter item -->
            <!-- Start counter item -->
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-abtus-counter-single">
                <span class="fa fa-flask"></span>
                <h4 class="counter">2000</h4>
                <p>Tech Problems</p>
              </div>
            </div>
            <!-- End counter item -->
            <!-- Start counter item -->
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-abtus-counter-single no-border">
                <span class="fa fa-user-secret"></span>
                <h4 class="counter">20</h4>
                <p>Tech Experts</p>
              </div>
            </div>
            <!-- End counter item -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End about us counter -->


<!-- Start latest course section -->
<section id="mu-latest-courses">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="mu-latest-courses-area">
          <!-- Start Title -->
          <div class="mu-title">
            <h2>Common Certifications</h2>
            <p>These are some of the basic certificate, Developer, business owner, analyst everyone has to get this certificate. So go and checkout</p>
          </div>
          <!-- End Title -->
          <!-- Start latest course content -->
          <div id="mu-latest-course-slide" class="mu-latest-courses-content">
            <div class="col-lg-4 col-md-4 col-xs-12">
              <div class="mu-latest-course-single">
                <figure class="mu-latest-course-img">
                  <a routerLink="/exam/AWS_LLTivIvNmv2Ku0UQoNtO/AWS-Cloud-Practitioner"><img src="https://gkd-s3-bucket.s3.ap-south-1.amazonaws.com/GKD-Web/cloud_aws.png" alt="img"></a>
                  <figcaption class="mu-latest-course-imgcaption">
                    <a routerLink="/exam/AWS_LLTivIvNmv2Ku0UQoNtO/AWS-Cloud-Practitioner">Amazon</a>
                    <span><i class="fa fa-clock-o"></i>10 Days</span>
                  </figcaption>
                </figure>
                <div class="mu-latest-course-single-content">
                  <h4><a routerLink="/exam/AWS_LLTivIvNmv2Ku0UQoNtO/AWS-Cloud-Practitioner">AWS Cloud Practitioner</a></h4>
                  <p>This credential helps organizations identify and develop talent with critical knowledge related to implementing cloud initiatives. Earning AWS Certified Cloud Practitioner validates cloud fluency and foundational AWS knowledge. AWS Certified Cloud Practitioner is intended for anyone who has basic knowledge of the AWS platform.</p>
                  <p>Knowledge of core AWS services and use cases, billing and pricing models, security concepts, and how cloud impacts your business</p>
                  <div class="mu-latest-course-single-contbottom">
                    <a class="mu-course-details" routerLink="/exam/AWS_LLTivIvNmv2Ku0UQoNtO/AWS-Cloud-Practitioner">Details</a>
                    <span class="mu-course-price" routerLink="/exam/AWS_LLTivIvNmv2Ku0UQoNtO/AWS-Cloud-Practitioner">FREE</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-lg-4 col-md-4 col-xs-12">
              <div class="mu-latest-course-single">
                <figure class="mu-latest-course-img">
                  <a routerLink="#"><img src="assets/img/courses/2.jpg" alt="img"></a>
                  <figcaption class="mu-latest-course-imgcaption">
                    <a routerLink="#">Engineering </a>
                    <span><i class="fa fa-clock-o"></i>75Days</span>
                  </figcaption>
                </figure>
                <div class="mu-latest-course-single-content">
                  <h4><a routerLink="#">Lorem ipsum dolor sit amet.</a></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quod nisi quisquam modi dolore, dicta obcaecati architecto quidem ullam quia.</p>
                  <div class="mu-latest-course-single-contbottom">
                    <a class="mu-course-details" routerLink="#">Details</a>
                    <span class="mu-course-price" routerLink="#">$165.00</span>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="col-lg-4 col-md-4 col-xs-12">
              <div class="mu-latest-course-single">
                <figure class="mu-latest-course-img">
                  <a routerLink="/exam/GC_y4898faqrnPKGVW0CawZ/GCP-Digital-Leader"><img src="https://firebasestorage.googleapis.com/v0/b/itexam-2fdbc.appspot.com/o/cloud_Google.png?alt=media&token=a40e9daa-caf9-4ed4-a8f1-1914a317ea12" alt="img"></a>
                  <figcaption class="mu-latest-course-imgcaption">
                    <a routerLink="/exam/GC_y4898faqrnPKGVW0CawZ/GCP-Digital-Leader">Google</a>
                    <span><i class="fa fa-clock-o"></i>7 Days</span>
                  </figcaption>
                </figure>
                <div class="mu-latest-course-single-content">
                  <h4><a routerLink="/exam/GC_y4898faqrnPKGVW0CawZ/GCP-Digital-Leader">GCP Digital Leader</a></h4>
                  <p>A Cloud Digital Leader is well-versed in basic cloud concepts and can demonstrate a broad application of cloud computing knowledge in a variety of applications. The Cloud Digital Leader exam is job-role independent. The exam assesses the knowledge and skills of individuals who want or are required to understand the purpose and application of Google Cloud products.</p>
                  <div class="mu-latest-course-single-contbottom">
                    <a class="mu-course-details" routerLink="/exam/GC_y4898faqrnPKGVW0CawZ/GCP-Digital-Leader">Details</a>
                    <span class="mu-course-price" routerLink="/exam/GC_y4898faqrnPKGVW0CawZ/GCP-Digital-Leader">FREE</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12">
              <div class="mu-latest-course-single">
                <figure class="mu-latest-course-img">
                  <a routerLink="/MS_ryEhVSBxVwbfdTXh5eQY/Azure-Fundamental"><img src="https://gkd-s3-bucket.s3.ap-south-1.amazonaws.com/GKD-Web/cloud_azure.png" alt="img"></a>
                  <figcaption class="mu-latest-course-imgcaption">
                    <a routerLink="/MS_ryEhVSBxVwbfdTXh5eQY/Azure-Fundamental">Microsoft</a>
                    <span><i class="fa fa-clock-o"></i>10 Days</span>
                  </figcaption>
                </figure>
                <div class="mu-latest-course-single-content">
                  <h4><a routerLink="/MS_ryEhVSBxVwbfdTXh5eQY/Azure-Fundamental">Azure Fundamental</a></h4>
                  <p>Candidates for this exam should have foundational knowledge of cloud services and how those services are provided with Microsoft Azure. The exam is intended for candidates who are just beginning to work with cloud-based solutions and services or are new to Azure. new content has been uploaded so checkout.</p>
                  <div class="mu-latest-course-single-contbottom">
                    <a class="mu-course-details" routerLink="/MS_ryEhVSBxVwbfdTXh5eQY/Azure-Fundamental">Details</a>
                    <span class="mu-course-price" routerLink="/MS_ryEhVSBxVwbfdTXh5eQY/Azure-Fundamental">FREE</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-lg-4 col-md-4 col-xs-12">
              <div class="mu-latest-course-single">
                <figure class="mu-latest-course-img">
                  <a href="#"><img src="assets/img/courses/2.jpg" alt="img"></a>
                  <figcaption class="mu-latest-course-imgcaption">
                    <a href="#">Engineering </a>
                    <span><i class="fa fa-clock-o"></i>75Days</span>
                  </figcaption>
                </figure>
                <div class="mu-latest-course-single-content">
                  <h4><a href="#">Lorem ipsum dolor sit amet.</a></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quod nisi quisquam modi dolore, dicta obcaecati architecto quidem ullam quia.</p>
                  <div class="mu-latest-course-single-contbottom">
                    <a class="mu-course-details" href="#">Details</a>
                    <span class="mu-course-price" href="#">$165.00</span>
                  </div>
                </div>
              </div>
            </div> -->
            <!-- <div class="col-lg-4 col-md-4 col-xs-12">
              <div class="mu-latest-course-single">
                <figure class="mu-latest-course-img">
                  <a href="#"><img src="assets/img/courses/3.jpg" alt="img"></a>
                  <figcaption class="mu-latest-course-imgcaption">
                    <a href="#">Academic</a>
                    <span><i class="fa fa-clock-o"></i>45Days</span>
                  </figcaption>
                </figure>
                <div class="mu-latest-course-single-content">
                  <h4><a href="#">Lorem ipsum dolor sit amet.</a></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quod nisi quisquam modi dolore, dicta obcaecati architecto quidem ullam quia.</p>
                  <div class="mu-latest-course-single-contbottom">
                    <a class="mu-course-details" href="#">Details</a>
                    <span class="mu-course-price" href="#">$165.00</span>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
          <!-- End latest course content -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End latest course section -->


<!-- Start features section -->
<section id="mu-features">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="mu-features-area">
          <!-- Start Title -->
          <div class="mu-title">
            <h2>Our Features</h2>
            <p>Find the best feathers of 1stResumt.com below.</p>
          </div>
          <!-- End Title -->
          <!-- Start features content -->
          <div class="mu-features-content">
            <div class="row">
              <div class="col-lg-4 col-md-4  col-sm-6">
                <div class="mu-single-feature">
                  <span class="fa fa-book"></span>
                  <h4>Technical Practice Tests</h4>
                  <p>We offer lots of technological practice test you for. where you can brushup your skills. You will definately find lots of tricky questions and Its completely free.  </p>
                  <a routerLink="/tests/all">Read More</a>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="mu-single-feature">
                  <span class="fa fa-users"></span>
                  <h4>Active Users</h4>
                  <p>Millions of users trust us worldwide, thats why they are contantly accessing our platform to learn technologies, also preparing for exams and interviews.</p>
                  <a routerLink="/login">Read More</a>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="mu-single-feature">
                  <span class="fa fa-laptop"></span>
                  <h4>Online Learning</h4>
                  <p>For any technology, you can find thousands of question and their answer, which will cover all the relavent information on that. so check that out.. </p>
                  <a routerLink="/qans/all">Read More</a>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="mu-single-feature">
                  <span class="fa fa-file-pdf-o"></span>
                  <h4>Resume Formats</h4>
                  <p>We are coming up with Resume template where you can get the awesome resume ready with lots of different color, international Formats template </p>
                  <a routerLink="/login">Read More</a>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="mu-single-feature">
                  <span class="fa fa-film"></span>
                  <h4>Video Lessons</h4>
                  <p>We have our certified tech Professionals, who creates step by step technological video tutorial to learn technology, which are completely free. </p>
                  <a routerLink="/login">Read More</a>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="mu-single-feature">
                  <span class="fa fa-certificate"></span>
                  <h4>Professional Certificate Test</h4>
                  <p>We offer profession certificate test paper, where you will check your skills and find questions which are being asked in the actual Certification test paper.</p>
                  <a routerLink="/certs/all">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <!-- End features content -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End features section -->



<!-- Start our teacher -->
<!-- <section id="mu-our-teacher">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-our-teacher-area">
          
          <div class="mu-title">
            <h2>Our Teachers</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, repudiandae, suscipit repellat minus molestiae ea.</p>
          </div>
          

          <div class="mu-our-teacher-content">
            <div class="row">
              <div class="col-lg-3 col-md-3  col-sm-6">
                <div class="mu-our-teacher-single">
                  <figure class="mu-our-teacher-img">
                    <img src="assets/img/teachers/teacher-01.png" alt="teacher img">
                    <div class="mu-our-teacher-social">
                      <a href="#"><span class="fa fa-facebook"></span></a>
                      <a href="#"><span class="fa fa-twitter"></span></a>
                      <a href="#"><span class="fa fa-linkedin"></span></a>
                      <a href="#"><span class="fa fa-google-plus"></span></a>
                    </div>
                  </figure>                    
                  <div class="mu-ourteacher-single-content">
                    <h4>Brian Dean</h4>
                    <span>Math Teacher</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quod pariatur recusandae odio dignissimos. Eligendi.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="mu-our-teacher-single">
                  <figure class="mu-our-teacher-img">
                    <img src="assets/img/teachers/teacher-02.png" alt="teacher img">
                    <div class="mu-our-teacher-social">
                      <a href="#"><span class="fa fa-facebook"></span></a>
                      <a href="#"><span class="fa fa-twitter"></span></a>
                      <a href="#"><span class="fa fa-linkedin"></span></a>
                      <a href="#"><span class="fa fa-google-plus"></span></a>
                    </div>
                  </figure>                    
                  <div class="mu-ourteacher-single-content">
                    <h4>James Hein</h4>
                    <span>Physics Teacher</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quod pariatur recusandae odio dignissimos. Eligendi.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="mu-our-teacher-single">
                  <figure class="mu-our-teacher-img">
                    <img src="assets/img/teachers/teacher-03.png" alt="teacher img">
                    <div class="mu-our-teacher-social">
                      <a href="#"><span class="fa fa-facebook"></span></a>
                      <a href="#"><span class="fa fa-twitter"></span></a>
                      <a href="#"><span class="fa fa-linkedin"></span></a>
                      <a href="#"><span class="fa fa-google-plus"></span></a>
                    </div>
                  </figure>                    
                  <div class="mu-ourteacher-single-content">
                    <h4>Rebeca Michel</h4>
                    <span>English Teacher</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quod pariatur recusandae odio dignissimos. Eligendi.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="mu-our-teacher-single">
                  <figure class="mu-our-teacher-img">
                    <img src="assets/img/teachers/teacher-04.png" alt="teacher img">
                    <div class="mu-our-teacher-social">
                      <a href="#"><span class="fa fa-facebook"></span></a>
                      <a href="#"><span class="fa fa-twitter"></span></a>
                      <a href="#"><span class="fa fa-linkedin"></span></a>
                      <a href="#"><span class="fa fa-google-plus"></span></a>
                    </div>
                  </figure>                    
                  <div class="mu-ourteacher-single-content">
                    <h4>John Doe</h4>
                    <span>Biology Teacher</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quod pariatur recusandae odio dignissimos. Eligendi.</p>
                  </div>
                </div>
              </div>
            </div>
          </div> 
          
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- End our teacher -->

<!-- Start testimonial -->
<section id="mu-testimonial">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-testimonial-area">
          <div id="mu-testimonial-slide" class="mu-testimonial-content">
            <!-- start testimonial single item -->
            <div class="mu-testimonial-item">
              <div class="mu-testimonial-quote">
                <blockquote>
                  <p>Its DB QnA is amazing, it helped a lot and I got lots of new thing via going through the Q&A</p>
                </blockquote>
              </div>
              <div class="mu-testimonial-img">
                <img src="https://gkd-s3-bucket.s3.ap-south-1.amazonaws.com/GKD-Web/client-3.JPG" alt="img">
              </div>
              <div class="mu-testimonial-info">
                <h4>Satish Gupta</h4>
                <span>DB Developer</span>
              </div>
            </div>
            <!-- end testimonial single item -->
            <!-- start testimonial single item -->
            <div class="mu-testimonial-item">
              <div class="mu-testimonial-quote">
                <blockquote>
                  <p>I found great quistionair of Azure Cloud Certification. got good help.. thanks buddy.</p>
                </blockquote>
              </div>
              <div class="mu-testimonial-img">
                <img src="https://gkd-s3-bucket.s3.ap-south-1.amazonaws.com/GKD-Web/Client-1.JPG" alt="img">
              </div>
              <div class="mu-testimonial-info">
                <h4>Dav</h4>
                <span>Cloud Developer</span>
              </div>
            </div>
            <!-- end testimonial single item -->
            <!-- start testimonial single item -->
            <div class="mu-testimonial-item">
              <div class="mu-testimonial-quote">
                <blockquote>
                  <p>Thanks for proving such a amazing platform whether we can be make sure all the answers are correct.. thank you</p>
                </blockquote>
              </div>
              <div class="mu-testimonial-img">
                <img src="https://gkd-s3-bucket.s3.ap-south-1.amazonaws.com/GKD-Web/client-2.JPG" alt="img">
              </div>
              <div class="mu-testimonial-info">
                <h4>Peter</h4>
                <span>Software Developer</span>
              </div>
            </div>
            <!-- end testimonial single item -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End testimonial -->

<!-- Start from blog -->
<section id="mu-from-blog">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-from-blog-area">
          
          <div class="mu-title">
            <h2>From Blog</h2>
            <p>Top trending blogs!</p>
          </div>
          

          <div class="mu-from-blog-content">
            <div class="row">
              <div class="col-md-4 col-sm-4">
                <article class="mu-blog-single-item">
                  <figure class="mu-blog-single-img">
                    <a target="_blank" href="https://www.forbes.com/sites/forbestechcouncil/2021/06/10/16-tech-roles-that-are-experiencing-a-shortage-of-talent/?sh=32b5a4da3973"><img src="https://firebasestorage.googleapis.com/v0/b/itexam-2fdbc.appspot.com/o/talent_shortage.JPG?alt=media&token=ec8c1e5b-b12c-4309-86b3-c78e4b94943e" height="250px" alt="img"></a>
                    <figcaption class="mu-blog-caption">
                      <h3><a target="_blank" href="https://www.forbes.com/sites/forbestechcouncil/2021/06/10/16-tech-roles-that-are-experiencing-a-shortage-of-talent/?sh=32b5a4da3973">Shortage of IT Professional</a></h3>
                    </figcaption>                      
                  </figure>
                  <div class="mu-blog-meta">
                    <a target="_blank" href="https://www.forbes.com/sites/forbestechcouncil/2021/06/10/16-tech-roles-that-are-experiencing-a-shortage-of-talent/?sh=32b5a4da3973">By Forbes</a>
                    <span><i class="fa fa-comments-o"></i>87</span>
                  </div>
                  <div class="mu-blog-description">
                    <p>16 roles that experiencing A Shortage</p>
                    <a class="mu-read-more-btn" target="_blank" href="https://www.forbes.com/sites/forbestechcouncil/2021/06/10/16-tech-roles-that-are-experiencing-a-shortage-of-talent/?sh=32b5a4da3973">Read More</a>
                  </div>
                </article>
              </div>
              <div class="col-md-4 col-sm-4">
                <article class="mu-blog-single-item">
                  <figure class="mu-blog-single-img">
                    <a target="_blank" href="https://www.indeed.com/career-advice/finding-a-job/top-growing-industries"><img src="https://firebasestorage.googleapis.com/v0/b/itexam-2fdbc.appspot.com/o/fastest_grow.JPG?alt=media&token=88da5a93-00ab-49e3-b5d0-beac46c14110" height="250px" alt="img"></a>
                    <figcaption class="mu-blog-caption">
                      <h3><a target="_blank" href="https://www.indeed.com/career-advice/finding-a-job/top-growing-industries">IT is the fastest growing industry</a></h3>
                    </figcaption>                      
                  </figure>
                  <div class="mu-blog-meta">
                    <a target="_blank" href="https://www.indeed.com/career-advice/finding-a-job/top-growing-industries">By Indeed</a>
                    <span><i class="fa fa-comments-o"></i>3700</span>
                  </div>
                  <div class="mu-blog-description">
                    <p>12 Fastest-Growing Industries in the U.S.</p>
                    <a class="mu-read-more-btn" target="_blank" href="https://www.indeed.com/career-advice/finding-a-job/top-growing-industries">Read More</a>
                  </div>
                </article>
              </div>
              <div class="col-md-4 col-sm-4">
                <article class="mu-blog-single-item">
                  <figure class="mu-blog-single-img">
                    <a target="_blank" href="https://en.wikipedia.org/wiki/Great_Resignation"><img src="https://firebasestorage.googleapis.com/v0/b/itexam-2fdbc.appspot.com/o/great_resignation.JPG?alt=media&token=40837afb-4f99-477a-a870-646436ecdb6f" height="250px" alt="img"></a>
                    <figcaption class="mu-blog-caption">
                      <h3><a target="_blank" href="https://en.wikipedia.org/wiki/Great_Resignation">New - The Great Resignation</a></h3>
                    </figcaption>                      
                  </figure>
                  <div class="mu-blog-meta">
                    <a target="_blank" href="https://en.wikipedia.org/wiki/Great_Resignation">By Wiki</a>
                    <span><i class="fa fa-comments-o"></i>8700</span>
                  </div>
                  <div class="mu-blog-description">
                    <p>The Great Resignation or The Big Quit</p>
                    <a class="mu-read-more-btn" target="_blank" href="https://en.wikipedia.org/wiki/Great_Resignation">Read More</a>
                  </div>
                </article>
              </div>
            </div>
          </div>     
          
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End from blog -->
